<ion-view>
  <ion-nav-title>
    <div class="h1 title">{{whichWorkout}}</div><!-- ion-view-title bug -->
  </ion-nav-title>
    <ion-nav-buttons side="secondary">
      <button class="button refresh" ng-click="modal.show()">
        Edit
      </button>
    </ion-nav-buttons>
  <ion-content>
    <div class="list" ng-repeat="plans in data.plans | filter:whichWorkout ">
        <div ng-repeat="workout in plans.workouts">
          <div class="item item-divider">
            Number: {{workout.workout}}
          </div>
          <div ng-repeat="week in workout.weeks">
            <div class="item item-divider">
              Week: {{week.week}}
            </div>
              <exercise-day 
                ng-repeat="day in week.days"
                day="day"
                user="dbUser"
                data="data">
              </exercise-day>
          </div>
        </div>
    </div> 
  </ion-content>
</ion-view>

